@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }

    .for {
        &-item {
            height: 268px;
        }
    }

    .product-content {
        column-gap: 29px;
        row-gap: 39px;
    }

    .catalog {
        &-item {
            grid-column: span 6;
        }
    }

    .catalog {
        column-gap: 29px;
        row-gap: 30px;
    }

    .cart-content {
        grid-column: span 12;
    }

    .cart-action {
        padding-top: 10px;
        padding-bottom: 42px;
    }

    .footer-logo {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 834px) {
    .center {
        padding-left: 24px;
        padding-right: 24px;
        background-position: 50% 100%;
    }

    .product {
        width: 345px;
    }

    .cart-form {
        grid-column: span 6;
    }

    .customer-info {
        margin-left: 0px;
    }

    .order-button {
        margin-left: 20px;
    }
}